In [4]:
import pandas as pd
import os
import numpy as np

In [ ]:
# Check if required columns exist
print("Columns in dataset:", df.columns.tolist())
print("\nDataset shape:", df.shape)
print("\nFirst few rows:")
df.head()

pip 25.2 from c:\Users\subha\Desktop\risk_credit_final\.venv\Lib\site-packages\pip (python 3.11)

Note: you may need to restart the kernel to use updated packages.

In [5]:
df = pd.read_csv('data/kaggle.csv')

In [6]:
df

,Income,Age,Dependents,Occupation,City_Tier,Rent,Loan_Repayment,Insurance,Groceries,Transport,...,Desired_Savings,Disposable_Income,Potential_Savings_Groceries,Potential_Savings_Transport,Potential_Savings_Eating_Out,Potential_Savings_Entertainment,Potential_Savings_Utilities,Potential_Savings_Healthcare,Potential_Savings_Education,Potential_Savings_Miscellaneous
0,44637.249640,49,0,Self_Employed,Tier_1,13391.174890,0.000000,2206.490129,6658.768341,2636.970696,...,6200.537192,11265.627710,1685.696222,328.895281,465.769172,195.151320,678.292859,67.682471,0.000000,85.735517
1,26858.596590,34,2,Retired,Tier_2,5371.719318,0.000000,869.522617,2818.444460,1543.018778,...,1923.176434,9676.818733,540.306561,119.347139,141.866089,234.131168,286.668408,6.603212,56.306874,97.388606
2,50367.605080,35,1,Student,Tier_3,7555.140763,4612.103386,2201.800050,6313.222081,3221.396403,...,7050.360422,13891.450620,1466.073984,473.549752,410.857129,459.965257,488.383423,7.290892,106.653597,138.542422
3,101455.600200,21,0,Self_Employed,Tier_3,15218.340040,6809.441427,4889.418087,14690.149360,7106.130005,...,16694.965140,31617.953610,1875.932770,762.020789,1241.017448,320.190594,1389.815033,193.502754,0.000000,296.041183
4,24875.283550,52,4,Professional,Tier_2,4975.056710,3112.609398,635.907170,3034.329665,1276.155163,...,1874.099434,6265.700532,788.953124,68.160766,61.712505,187.173750,194.117130,47.294591,67.388120,96.557076
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,40913.466180,51,4,Self_Employed,Tier_1,12274.039850,7703.854895,1646.799940,5477.403246,2084.230191,...,1163.318310,1163.318310,597.028412,287.315050,347.658355,145.843671,212.833326,44.900294,98.765527,190.591917
19996,90295.772640,21,1,Student,Tier_2,18059.154530,0.000000,2770.589626,13118.222420,4633.108332,...,10613.589600,30725.175170,3854.823822,359.602765,911.269461,424.064224,1555.548024,129.655981,239.445622,351.436046
19997,40604.567370,30,1,Professional,Tier_2,8120.913475,8089.612716,1548.564328,6018.276121,2493.563674,...,2267.905134,2267.905134,1385.511100,379.927216,138.209465,297.695658,824.565267,57.891000,72.728663,122.569277
19998,118157.817200,27,2,Professional,Tier_1,35447.345170,12345.910540,4735.672471,16392.438430,8248.242279,...,10603.684810,10603.684810,3217.771594,2265.865033,726.247719,273.912367,859.230004,98.961780,92.189012,569.811212
19999,8209.249769,62,3,Professional,Tier_1,2462.774931,1120.881704,276.376556,969.916908,460.435438,...,531.044006,860.350559,261.160294,124.057428,25.940556,35.238134,94.909265,1.685026,4.837574,12.766302

In [7]:
print(df.columns)

Index(['Income', 'Age', 'Dependents', 'Occupation', 'City_Tier', 'Rent',
       'Loan_Repayment', 'Insurance', 'Groceries', 'Transport', 'Eating_Out',
       'Entertainment', 'Utilities', 'Healthcare', 'Education',
       'Miscellaneous', 'Desired_Savings_Percentage', 'Desired_Savings',
       'Disposable_Income', 'Potential_Savings_Groceries',
       'Potential_Savings_Transport', 'Potential_Savings_Eating_Out',
       'Potential_Savings_Entertainment', 'Potential_Savings_Utilities',
       'Potential_Savings_Healthcare', 'Potential_Savings_Education',
       'Potential_Savings_Miscellaneous'],
      dtype='object')

In [9]:

unique_occupation = df['Occupation'].unique()
print(unique_occupation)

['Self_Employed' 'Retired' 'Student' 'Professional']

In [ ]:
# Optional: Save the updated dataset with Annual_Income
# df.to_csv('data/kaggle_with_annual_income.csv', index=False)
# print("✅ Dataset saved to 'data/kaggle_with_annual_income.csv'")

In [ ]:
# Verify the distribution by occupation and city tier
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize=(14, 6))

# Plot 1: Annual Income by Occupation
plt.subplot(1, 2, 1)
sns.boxplot(data=df, x='Occupation', y='Annual_Income')
plt.xticks(rotation=45)
plt.title('Annual Income Distribution by Occupation')
plt.ylabel('Annual Income (₹)')

# Plot 2: Annual Income by City Tier
plt.subplot(1, 2, 2)
sns.boxplot(data=df, x='City_Tier', y='Annual_Income')
plt.title('Annual Income Distribution by City Tier')
plt.ylabel('Annual Income (₹)')

plt.tight_layout()
plt.show()

# Show average annual income by occupation × city tier
print("\n📊 Average Annual Income by Occupation × City Tier:")
pivot_table = df.groupby(['Occupation', 'City_Tier'])['Annual_Income'].mean().unstack()
print(pivot_table.round(2))

In [ ]:
def calculate_annual_income(row):
    """
    Calculate Annual Income based on:
    Annual_Income = Monthly_Income × Multiplier × Noise
    
    Where:
    - Multiplier depends on occupation × city tier
    - Noise = random normal(1, σ_tier)
    """
    occupation = row['Occupation']
    city_tier = row['City_Tier']  # Adjust column name if different
    monthly_income = row['Income']  # Adjust column name if different
    
    # Get multiplier range for this occupation × city tier combination
    if occupation in income_multipliers and city_tier in income_multipliers[occupation]:
        multiplier_range = income_multipliers[occupation][city_tier]
        # Pick a random multiplier within the range
        multiplier = np.random.uniform(multiplier_range[0], multiplier_range[1])
    else:
        # Fallback: use average multiplier if combination not found
        print(f"Warning: Unknown combination {occupation} × {city_tier}, using default multiplier 10.0")
        multiplier = 10.0
    
    # Get noise (standard deviation) for this city tier
    sigma = tier_noise.get(city_tier, 0.06)  # Default to 0.06 if tier not found
    
    # Apply noise: normal distribution centered at 1
    noise = np.random.normal(1, sigma)
    
    # Calculate annual income
    annual_income = monthly_income * multiplier * noise
    
    return annual_income

# Set random seed for reproducibility (optional - remove if you want different results each time)
np.random.seed(42)

# Apply the function to create Annual_Income column
df['Annual_Income'] = df.apply(calculate_annual_income, axis=1)

print("Annual Income calculated successfully!")
print(f"\nAnnual Income Statistics:")
print(df['Annual_Income'].describe())
print(f"\nSample of results:")
df[['Occupation', 'City_Tier', 'Income', 'Annual_Income']].head(10)