In [4]:
import pandas as pd
import os
import numpy as np

In [10]:
# Check if required columns exist
print("Columns in dataset:", df.columns.tolist())
print("\nDataset shape:", df.shape)
print("\nFirst few rows:")
df.head()

Columns in dataset: ['Income', 'Age', 'Dependents', 'Occupation', 'City_Tier', 'Rent', 'Loan_Repayment', 'Insurance', 'Groceries', 'Transport', 'Eating_Out', 'Entertainment', 'Utilities', 'Healthcare', 'Education', 'Miscellaneous', 'Desired_Savings_Percentage', 'Desired_Savings', 'Disposable_Income', 'Potential_Savings_Groceries', 'Potential_Savings_Transport', 'Potential_Savings_Eating_Out', 'Potential_Savings_Entertainment', 'Potential_Savings_Utilities', 'Potential_Savings_Healthcare', 'Potential_Savings_Education', 'Potential_Savings_Miscellaneous']

Dataset shape: (20000, 27)

First few rows:

,Income,Age,Dependents,Occupation,City_Tier,Rent,Loan_Repayment,Insurance,Groceries,Transport,...,Desired_Savings,Disposable_Income,Potential_Savings_Groceries,Potential_Savings_Transport,Potential_Savings_Eating_Out,Potential_Savings_Entertainment,Potential_Savings_Utilities,Potential_Savings_Healthcare,Potential_Savings_Education,Potential_Savings_Miscellaneous
0,44637.24964,49,0,Self_Employed,Tier_1,13391.174890,0.000000,2206.490129,6658.768341,2636.970696,...,6200.537192,11265.627710,1685.696222,328.895281,465.769172,195.151320,678.292859,67.682471,0.000000,85.735517
1,26858.59659,34,2,Retired,Tier_2,5371.719318,0.000000,869.522617,2818.444460,1543.018778,...,1923.176434,9676.818733,540.306561,119.347139,141.866089,234.131168,286.668408,6.603212,56.306874,97.388606
2,50367.60508,35,1,Student,Tier_3,7555.140763,4612.103386,2201.800050,6313.222081,3221.396403,...,7050.360422,13891.450620,1466.073984,473.549752,410.857129,459.965257,488.383423,7.290892,106.653597,138.542422
3,101455.60020,21,0,Self_Employed,Tier_3,15218.340040,6809.441427,4889.418087,14690.149360,7106.130005,...,16694.965140,31617.953610,1875.932770,762.020789,1241.017448,320.190594,1389.815033,193.502754,0.000000,296.041183
4,24875.28355,52,4,Professional,Tier_2,4975.056710,3112.609398,635.907170,3034.329665,1276.155163,...,1874.099434,6265.700532,788.953124,68.160766,61.712505,187.173750,194.117130,47.294591,67.388120,96.557076

In [5]:
df = pd.read_csv('data/kaggle.csv')

In [6]:
df

,Income,Age,Dependents,Occupation,City_Tier,Rent,Loan_Repayment,Insurance,Groceries,Transport,...,Desired_Savings,Disposable_Income,Potential_Savings_Groceries,Potential_Savings_Transport,Potential_Savings_Eating_Out,Potential_Savings_Entertainment,Potential_Savings_Utilities,Potential_Savings_Healthcare,Potential_Savings_Education,Potential_Savings_Miscellaneous
0,44637.249640,49,0,Self_Employed,Tier_1,13391.174890,0.000000,2206.490129,6658.768341,2636.970696,...,6200.537192,11265.627710,1685.696222,328.895281,465.769172,195.151320,678.292859,67.682471,0.000000,85.735517
1,26858.596590,34,2,Retired,Tier_2,5371.719318,0.000000,869.522617,2818.444460,1543.018778,...,1923.176434,9676.818733,540.306561,119.347139,141.866089,234.131168,286.668408,6.603212,56.306874,97.388606
2,50367.605080,35,1,Student,Tier_3,7555.140763,4612.103386,2201.800050,6313.222081,3221.396403,...,7050.360422,13891.450620,1466.073984,473.549752,410.857129,459.965257,488.383423,7.290892,106.653597,138.542422
3,101455.600200,21,0,Self_Employed,Tier_3,15218.340040,6809.441427,4889.418087,14690.149360,7106.130005,...,16694.965140,31617.953610,1875.932770,762.020789,1241.017448,320.190594,1389.815033,193.502754,0.000000,296.041183
4,24875.283550,52,4,Professional,Tier_2,4975.056710,3112.609398,635.907170,3034.329665,1276.155163,...,1874.099434,6265.700532,788.953124,68.160766,61.712505,187.173750,194.117130,47.294591,67.388120,96.557076
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,40913.466180,51,4,Self_Employed,Tier_1,12274.039850,7703.854895,1646.799940,5477.403246,2084.230191,...,1163.318310,1163.318310,597.028412,287.315050,347.658355,145.843671,212.833326,44.900294,98.765527,190.591917
19996,90295.772640,21,1,Student,Tier_2,18059.154530,0.000000,2770.589626,13118.222420,4633.108332,...,10613.589600,30725.175170,3854.823822,359.602765,911.269461,424.064224,1555.548024,129.655981,239.445622,351.436046
19997,40604.567370,30,1,Professional,Tier_2,8120.913475,8089.612716,1548.564328,6018.276121,2493.563674,...,2267.905134,2267.905134,1385.511100,379.927216,138.209465,297.695658,824.565267,57.891000,72.728663,122.569277
19998,118157.817200,27,2,Professional,Tier_1,35447.345170,12345.910540,4735.672471,16392.438430,8248.242279,...,10603.684810,10603.684810,3217.771594,2265.865033,726.247719,273.912367,859.230004,98.961780,92.189012,569.811212
19999,8209.249769,62,3,Professional,Tier_1,2462.774931,1120.881704,276.376556,969.916908,460.435438,...,531.044006,860.350559,261.160294,124.057428,25.940556,35.238134,94.909265,1.685026,4.837574,12.766302

In [7]:
print(df.columns)

Index(['Income', 'Age', 'Dependents', 'Occupation', 'City_Tier', 'Rent',
       'Loan_Repayment', 'Insurance', 'Groceries', 'Transport', 'Eating_Out',
       'Entertainment', 'Utilities', 'Healthcare', 'Education',
       'Miscellaneous', 'Desired_Savings_Percentage', 'Desired_Savings',
       'Disposable_Income', 'Potential_Savings_Groceries',
       'Potential_Savings_Transport', 'Potential_Savings_Eating_Out',
       'Potential_Savings_Entertainment', 'Potential_Savings_Utilities',
       'Potential_Savings_Healthcare', 'Potential_Savings_Education',
       'Potential_Savings_Miscellaneous'],
      dtype='object')

In [9]:

unique_occupation = df['Occupation'].unique()
print(unique_occupation)

['Self_Employed' 'Retired' 'Student' 'Professional']

In [16]:
df.head()

,Income,Age,Dependents,Occupation,City_Tier,Rent,Loan_Repayment,Insurance,Groceries,Transport,...,Disposable_Income,Potential_Savings_Groceries,Potential_Savings_Transport,Potential_Savings_Eating_Out,Potential_Savings_Entertainment,Potential_Savings_Utilities,Potential_Savings_Healthcare,Potential_Savings_Education,Potential_Savings_Miscellaneous,Annual_Income
0,44637.24964,49,0,Self_Employed,Tier_1,13391.174890,0.000000,2206.490129,6658.768341,2636.970696,...,11265.627710,1685.696222,328.895281,465.769172,195.151320,678.292859,67.682471,0.000000,85.735517,4.596757e+05
1,26858.59659,34,2,Retired,Tier_2,5371.719318,0.000000,869.522617,2818.444460,1543.018778,...,9676.818733,540.306561,119.347139,141.866089,234.131168,286.668408,6.603212,56.306874,97.388606,2.663578e+05
2,50367.60508,35,1,Student,Tier_3,7555.140763,4612.103386,2201.800050,6313.222081,3221.396403,...,13891.450620,1466.073984,473.549752,410.857129,459.965257,488.383423,7.290892,106.653597,138.542422,5.232496e+05
3,101455.60020,21,0,Self_Employed,Tier_3,15218.340040,6809.441427,4889.418087,14690.149360,7106.130005,...,31617.953610,1875.932770,762.020789,1241.017448,320.190594,1389.815033,193.502754,0.000000,296.041183,1.107268e+06
4,24875.28355,52,4,Professional,Tier_2,4975.056710,3112.609398,635.907170,3034.329665,1276.155163,...,6265.700532,788.953124,68.160766,61.712505,187.173750,194.117130,47.294591,67.388120,96.557076,2.452581e+05

In [19]:
df.to_csv('data/processed_data.csv', index=False)

In [20]:
# Load the processed data
df = pd.read_csv('data/processed_data.csv')

# Define multipliers for each category based on Occupation and City_Tier
multipliers = {
    'Rent': {
        'Professional': {'Tier_1': 12.5, 'Tier_2': 11.5, 'Tier_3': 9.5},
        'Self_Employed': {'Tier_1': 12, 'Tier_2': 11, 'Tier_3': 9},
        'Retired': {'Tier_1': 11, 'Tier_2': 10.5, 'Tier_3': 8.5},
        'Student': {'Tier_1': 11, 'Tier_2': 10, 'Tier_3': 8}
    },
    'Groceries': {
        'Professional': {'Tier_1': 12, 'Tier_2': 11.5, 'Tier_3': 10.5},
        'Self_Employed': {'Tier_1': 11.5, 'Tier_2': 11, 'Tier_3': 10},
        'Retired': {'Tier_1': 11, 'Tier_2': 10.5, 'Tier_3': 9.5},
        'Student': {'Tier_1': 10, 'Tier_2': 9.5, 'Tier_3': 9}
    },
    'Transport': {
        'Professional': {'Tier_1': 12.5, 'Tier_2': 11.5, 'Tier_3': 10},
        'Self_Employed': {'Tier_1': 12, 'Tier_2': 11, 'Tier_3': 9.5},
        'Retired': {'Tier_1': 11, 'Tier_2': 10, 'Tier_3': 9},
        'Student': {'Tier_1': 10.5, 'Tier_2': 9.5, 'Tier_3': 9}
    },
    'Eating_Out': {
        'Professional': {'Tier_1': 12.5, 'Tier_2': 11.5, 'Tier_3': 9.5},
        'Self_Employed': {'Tier_1': 12, 'Tier_2': 11, 'Tier_3': 9},
        'Retired': {'Tier_1': 11, 'Tier_2': 10.5, 'Tier_3': 9},
        'Student': {'Tier_1': 11, 'Tier_2': 10.5, 'Tier_3': 9}
    },
    'Entertainment': {
        'Professional': {'Tier_1': 12.5, 'Tier_2': 11.5, 'Tier_3': 9.5},
        'Self_Employed': {'Tier_1': 12, 'Tier_2': 11, 'Tier_3': 9},
        'Retired': {'Tier_1': 11, 'Tier_2': 10.5, 'Tier_3': 9},
        'Student': {'Tier_1': 12, 'Tier_2': 11, 'Tier_3': 9.5}
    },
    'Utilities': {
        'Professional': {'Tier_1': 12, 'Tier_2': 11.5, 'Tier_3': 10.5},
        'Self_Employed': {'Tier_1': 11.5, 'Tier_2': 11, 'Tier_3': 10},
        'Retired': {'Tier_1': 11, 'Tier_2': 10.5, 'Tier_3': 10},
        'Student': {'Tier_1': 11, 'Tier_2': 10.5, 'Tier_3': 9.5}
    },
    'Healthcare': {
        'Professional': {'Tier_1': 12, 'Tier_2': 11, 'Tier_3': 10},
        'Self_Employed': {'Tier_1': 11.5, 'Tier_2': 10.5, 'Tier_3': 10},
        'Retired': {'Tier_1': 12, 'Tier_2': 11.5, 'Tier_3': 10.5},
        'Student': {'Tier_1': 10, 'Tier_2': 9.5, 'Tier_3': 9}
    },
    'Education': {
        'Professional': {'Tier_1': 11.5, 'Tier_2': 11, 'Tier_3': 10.5},
        'Self_Employed': {'Tier_1': 11.5, 'Tier_2': 11, 'Tier_3': 10},
        'Retired': {'Tier_1': 9, 'Tier_2': 9, 'Tier_3': 9},
        'Student': {'Tier_1': 0, 'Tier_2': 0, 'Tier_3': 0}  # Not applicable
    },
    'Miscellaneous': {
        'Professional': {'Tier_1': 12.5, 'Tier_2': 11.5, 'Tier_3': 10},
        'Self_Employed': {'Tier_1': 12, 'Tier_2': 11, 'Tier_3': 9.5},
        'Retired': {'Tier_1': 11, 'Tier_2': 10.5, 'Tier_3': 9},
        'Student': {'Tier_1': 11, 'Tier_2': 10.5, 'Tier_3': 9}
    }
}

# Categories to convert to annual (excluding Income which is already annual)
expense_categories = ['Rent', 'Loan_Repayment', 'Insurance', 'Groceries', 'Transport', 
                      'Eating_Out', 'Entertainment', 'Utilities', 'Healthcare', 
                      'Education', 'Miscellaneous']

# Function to get the appropriate multiplier
def get_multiplier(category, occupation, city_tier):
    """
    Get the annual multiplier for a given category, occupation, and city tier.
    For Loan_Repayment and Insurance, use a standard 12Ã— multiplier.
    """
    if category in ['Loan_Repayment', 'Insurance']:
        return 12  # Standard annual conversion
    
    if category in multipliers and occupation in multipliers[category]:
        return multipliers[category][occupation].get(city_tier, 12)
    
    return 12  # Default multiplier

# Create annual expense columns
print("Converting monthly expenses to annual expenditures...")

for category in expense_categories:
    annual_col_name = f'Annual_{category}'
    
    # Apply the multiplier based on occupation and city tier
    df[annual_col_name] = df.apply(
        lambda row: row[category] * get_multiplier(category, row['Occupation'], row['City_Tier']),
        axis=1
    )
    
    print(f"âœ“ Converted {category} to {annual_col_name}")

# Calculate total annual expenses
annual_expense_cols = [f'Annual_{cat}' for cat in expense_categories]
df['Total_Annual_Expenses'] = df[annual_expense_cols].sum(axis=1)

# Calculate annual savings
df['Annual_Savings'] = df['Annual_Income'] - df['Total_Annual_Expenses']

# Calculate actual savings rate
df['Actual_Savings_Rate'] = (df['Annual_Savings'] / df['Annual_Income'] * 100).round(2)

# Save the updated dataframe
output_file = 'data/processed_data_with_annual.csv'
df.to_csv(output_file, index=False)

print(f"\nâœ“ Successfully created annual expenditure columns")
print(f"âœ“ Saved to: {output_file}")

# Display summary statistics
print("\n" + "="*60)
print("SUMMARY STATISTICS")
print("="*60)

print("\nAnnual Income Statistics:")
print(f"  Mean: â‚¹{df['Annual_Income'].mean():,.2f}")
print(f"  Median: â‚¹{df['Annual_Income'].median():,.2f}")
print(f"  Min: â‚¹{df['Annual_Income'].min():,.2f}")
print(f"  Max: â‚¹{df['Annual_Income'].max():,.2f}")

print("\nTotal Annual Expenses Statistics:")
print(f"  Mean: â‚¹{df['Total_Annual_Expenses'].mean():,.2f}")
print(f"  Median: â‚¹{df['Total_Annual_Expenses'].median():,.2f}")
print(f"  Min: â‚¹{df['Total_Annual_Expenses'].min():,.2f}")
print(f"  Max: â‚¹{df['Total_Annual_Expenses'].max():,.2f}")

print("\nAnnual Savings Statistics:")
print(f"  Mean: â‚¹{df['Annual_Savings'].mean():,.2f}")
print(f"  Median: â‚¹{df['Annual_Savings'].median():,.2f}")
print(f"  Min: â‚¹{df['Annual_Savings'].min():,.2f}")
print(f"  Max: â‚¹{df['Annual_Savings'].max():,.2f}")

print("\nActual Savings Rate Statistics:")
print(f"  Mean: {df['Actual_Savings_Rate'].mean():.2f}%")
print(f"  Median: {df['Actual_Savings_Rate'].median():.2f}%")
print(f"  Min: {df['Actual_Savings_Rate'].min():.2f}%")
print(f"  Max: {df['Actual_Savings_Rate'].max():.2f}%")

# Display breakdown by occupation and city tier
print("\n" + "="*60)
print("AVERAGE ANNUAL EXPENSES BY OCCUPATION AND CITY TIER")
print("="*60)

for occupation in df['Occupation'].unique():
    print(f"\n{occupation}:")
    for tier in ['Tier_1', 'Tier_2', 'Tier_3']:
        subset = df[(df['Occupation'] == occupation) & (df['City_Tier'] == tier)]
        if len(subset) > 0:
            avg_expense = subset['Total_Annual_Expenses'].mean()
            avg_income = subset['Annual_Income'].mean()
            avg_savings_rate = subset['Actual_Savings_Rate'].mean()
            print(f"  {tier}: Avg Income: â‚¹{avg_income:,.2f} | "
                  f"Avg Expenses: â‚¹{avg_expense:,.2f} | "
                  f"Avg Savings Rate: {avg_savings_rate:.2f}%")

# Display sample of the new columns
print("\n" + "="*60)
print("SAMPLE DATA (First 5 rows)")
print("="*60)
display_cols = ['Income', 'Occupation', 'City_Tier', 'Annual_Income', 
                'Total_Annual_Expenses', 'Annual_Savings', 'Actual_Savings_Rate']
print(df[display_cols].head().to_string(index=False))

print("\n" + "="*60)
print(f"Total rows processed: {len(df):,}")
print("="*60)

Converting monthly expenses to annual expenditures...
âœ“ Converted Rent to Annual_Rent
âœ“ Converted Loan_Repayment to Annual_Loan_Repayment
âœ“ Converted Insurance to Annual_Insurance
âœ“ Converted Groceries to Annual_Groceries
âœ“ Converted Transport to Annual_Transport
âœ“ Converted Eating_Out to Annual_Eating_Out
âœ“ Converted Entertainment to Annual_Entertainment
âœ“ Converted Utilities to Annual_Utilities
âœ“ Converted Healthcare to Annual_Healthcare
âœ“ Converted Education to Annual_Education
âœ“ Converted Miscellaneous to Annual_Miscellaneous

âœ“ Successfully created annual expenditure columns
âœ“ Saved to: data/processed_data_with_annual.csv

============================================================
SUMMARY STATISTICS
============================================================

Annual Income Statistics:
  Mean: â‚¹436,127.79
  Median: â‚¹301,993.30
  Min: â‚¹9,949.61
  Max: â‚¹13,699,000.35

Total Annual Expenses Statistics:
  Mean: â‚¹329,281.43
  Median: â‚¹234,838.90
  Min: â‚¹9,566.86
  Max: â‚¹8,041,217.94

Annual Savings Statistics:
  Mean: â‚¹106,846.36
  Median: â‚¹56,706.95
  Min: â‚¹-200,596.08
  Max: â‚¹5,657,782.41

Actual Savings Rate Statistics:
  Mean: 20.42%
  Median: 21.55%
  Min: -45.01%
  Max: 59.77%

============================================================
AVERAGE ANNUAL EXPENSES BY OCCUPATION AND CITY TIER
============================================================

Self_Employed:
  Tier_1: Avg Income: â‚¹423,045.21 | Avg Expenses: â‚¹394,808.45 | Avg Savings Rate: 2.12%
  Tier_2: Avg Income: â‚¹450,684.45 | Avg Expenses: â‚¹345,461.41 | Avg Savings Rate: 19.33%
  Tier_3: Avg Income: â‚¹432,554.50 | Avg Expenses: â‚¹276,106.93 | Avg Savings Rate: 33.39%

Retired:
  Tier_1: Avg Income: â‚¹413,067.39 | Avg Expenses: â‚¹359,863.12 | Avg Savings Rate: 8.38%
  Tier_2: Avg Income: â‚¹428,844.71 | Avg Expenses: â‚¹313,963.82 | Avg Savings Rate: 23.11%
  Tier_3: Avg Income: â‚¹435,304.80 | Avg Expenses: â‚¹265,954.04 | Avg Savings Rate: 35.29%

Student:
  Tier_1: Avg Income: â‚¹448,342.88 | Avg Expenses: â‚¹355,370.86 | Avg Savings Rate: 16.37%
  Tier_2: Avg Income: â‚¹432,802.81 | Avg Expenses: â‚¹279,855.94 | Avg Savings Rate: 31.72%
  Tier_3: Avg Income: â‚¹440,129.33 | Avg Expenses: â‚¹237,031.15 | Avg Savings Rate: 43.35%

Professional:
  Tier_1: Avg Income: â‚¹436,856.97 | Avg Expenses: â‚¹421,297.60 | Avg Savings Rate: -1.42%
  Tier_2: Avg Income: â‚¹437,847.52 | Avg Expenses: â‚¹346,979.99 | Avg Savings Rate: 16.41%
  Tier_3: Avg Income: â‚¹456,807.49 | Avg Expenses: â‚¹298,555.64 | Avg Savings Rate: 30.62%

============================================================
SAMPLE DATA (First 5 rows)
============================================================
      Income    Occupation City_Tier  Annual_Income  Total_Annual_Expenses  Annual_Savings  Actual_Savings_Rate
 44637.24964 Self_Employed    Tier_1   4.596757e+05          394900.725571    64774.943018                14.09
 26858.59659       Retired    Tier_2   2.663578e+05          179751.208628    86606.606219                32.52
 50367.60508       Student    Tier_3   5.232496e+05          315277.605002   207971.958099                39.75
101455.60020 Self_Employed    Tier_3   1.107268e+06          693841.309062   413426.637861                37.34
 24875.28355  Professional    Tier_2   2.452581e+05          214577.307223    30680.749322                12.51

============================================================
Total rows processed: 20,000
============================================================